:root {
    font-family: system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #FFFFFFDD;
    background-color: #1f1f1f;
    padding: 0;
    margin: 0;
    min-width: 320px;
}

