* {
    /* Define colors for light mode (default) */
    --background-color: #ffffff;
    --text-color: #1f1f1f;
    --border-color: #c9c9c9;
    --primary-color: #1a73e8; /* Chrome's blue */
    --primary-hover: #1764cb;

    --info-color: #4285f4;
    --success-color: #1e8e3e;
    --error-color: #d93025;


    --card-background: #f1f3f4; /* Light background for table header */
    --row-border-color: #e8e8e8;

    --cr-primary-text-color: #e3e3e3;
    --cr-secondary-text-color: #c4c7c5;
}

/* Dark mode colors */
@media (prefers-color-scheme: dark) {
    * {
        --background-color: #202124;
        --text-color:#e3e3e3;
        --card-background: #292a2d;

        --border-color: #ffffff1a;
        --primary-color: #8ab4f8;
        --primary-hover: #a5c3fa;

        --info-color: #7aa9f5;
        --success-color: #568f67;
        --error-color: #d9746c;

        --row-border-color: #444749;

        --cr-primary-text-color: #e3e3e3;
        --cr-secondary-text-color: #c4c7c5;
    }
}